/* src/assets/styles/layout.scss */
@import './variables.scss';
@import './mixins.scss';

/* 设置布局容器 */
.layout-container {
   display: flex;
   height: 100vh;
   width: 100vw;
}

/* 左侧菜单栏 */
.sidebar {
    width: 15vw;// 设置宽度
    height: 100vh;// 设置高度
    background-color: $primary-color;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #dcdcdc;// 导航栏与内容区域分割线
    @include box-shadow(2px, 0, 10px, rgba(0, 0, 0, 0.2));

    /* Logo 和公司名称区域 */
    .logo-container {
       width: 100%;
       display:flex;
       align-items: center;
       justify-content: space-between;
       margin-bottom: 1rem; /* 调整间距 */

       .logo {
          width: 25%; /* 控制 Logo 大小 */
          height: auto;
       }

       .company-name {
          color: $text-color;
          font-size: 1.5rem;
          font-weight: bold;
          margin-left: 0.5rem;
          flex-grow: 1;
       }
    }

    /* 内部菜单项 */
    .menu-item {
       width: 100%;
       padding: 1.3rem;
       color: $text-color;
       cursor: pointer;// 设置鼠标样式
      text-align: center;// 文字居中
      font-size: 1.3rem;// 设置文字大小
      border-bottom: 1px solid $divider-color;

       &:hover {
          background-color: $hover-background-color;
          color: $hover-text-color;
          @include box-shadow(0, 4px, 10px, rgba(0, 0, 0, 0.2));
       }
    }

    /* 分割线 */
    .divider {
       width: 100%;
       height: 1px;
       background-color: $divider-color;
       padding-top: 0.5rem;
       padding-left: 1rem;
       padding-right: 1rem;
    }
}

.sidebar::-webkit-scrollbar {// 隐藏滚动条
   width: 6px; /* 滚动条宽度 */
 }

 .sidebar::-webkit-scrollbar-thumb {// 滚动条样式
   background: rgba(255, 255, 255, 0.3); /* 滚动条颜色 */
   border-radius: 3px;
 }
 
 .sidebar::-webkit-scrollbar-track {// 滑轨样式
   background: transparent; /* 滑轨背景色 */
 }
 
.ourHeader {
   display: flex;// 设置为弹性布局
   align-items: center;// 垂直居中
   background-color: $primary-color; // 设置背景色
   position:sticky;// 设置为粘性定位
   top: 0;// 距离顶部0px
   z-index: 1000;// 设置层级
   border-bottom: #dcdcdc 1px solid;// 设置底部边框
 
   .logo {
     height: 40px;
     margin-right: 10px;
     margin-left: 45%;
   }
 
   .company-name {
     font-size: 24px;
     color: $text-color; // 根据需求设置字体颜色
     font-weight: bold;
   }
   .user-info {
      display: flex;
      align-items: center;
      margin-left: auto; /* 将用户信息右对齐 */
      cursor: pointer;
      color: $text-color;
    }
 }

