/* src/assets/styles/layout.scss */
@use './variables.scss' as vars;
@use './mixins.scss' as m;
@use 'sass:color'; // 引入颜色函数

/* 设置布局容器 */
.layout-container {
   display: flex;
   height: 100vh;
   width: 100vw;
}

/* 左侧菜单栏 */
.sidebar {
   width: 23vw; // 设置宽度
   height: 100vh; // 设置高度
   background-color: vars.$primary-color;
   padding-left: 1rem;
   padding-right: 1rem;
   overflow-y: auto;
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-sizing: border-box; // 设置盒模型为边框盒
   border-right: 1px solid #dcdcdc; // 导航栏与内容区域分割线
   // @include m.box-shadow(2px, 0, 10px, rgba(0, 0, 0, 0.2)); 去掉了阴影

   /* Logo 和公司名称区域 */
   .logo-button-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: vars.$background-color;
      border-bottom: 1px solid #dcdcdc; // 导航栏与内容区域分割线
      // margin-bottom: 1rem; /* 调整间距 */
      position: sticky; // 设置为粘性定位
      top: 0px; // 距离顶部0px
      z-index: 1000; // 设置层级
      padding: 1rem; // 设置内边距

      .logo {
         width: 20%; /* 控制 Logo 大小 */
         height: auto;
      }

      .company-name {
         color: vars.$text-color;
         font-size: 2rem;
         font-weight: bold;
         flex-grow: 1;
         text-align: center;
      }
   }
   .main-section {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid vars.$divider-color;
      border-top: 1px solid vars.$divider-color;
   }
   .main-section-item {
      width: 100%;
      padding: 1.3rem;
      font-size: 1rem;
      display: flex;
      color: vars.$text-color;
      flex-direction: column;
      align-items: center;
      background-color: vars.$background-color;
      border-radius: 20px;
      margin: 10px 5px;
      border: 2px solid vars.$divider-color;
      cursor: pointer;
      &:hover {
         background-color: vars.$hover-background-color;
         color: vars.$hover-text-color;
      }
      .el-icon-s-home {
         font-size: 2rem;
      }
      .el-icon-s-opportunity {
         font-size: 2rem;
      }
   }
   /*聊天历史 */
   .chat-history {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-shrink: 0; /* 禁止高度被压缩 */
      padding: 1rem;
      width: 100%;
      height: 30%;
      background-color: color.adjust(
         vars.$primary-color,
         $lightness: 10%
      ); // 颜色稍浅
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // 提升视觉层次感
      overflow-y: auto;

      &::-webkit-scrollbar {
         width: 6px; // 滚动条宽度
      }
      &::-webkit-scrollbar-thumb {
         background: color.adjust(
            vars.$primary-color,
            $lightness: -10%
         ); // 滚动条颜色
      }
      &::-webkit-scrollbar-track {
         background: color.adjust(
            vars.$primary-color,
            $lightness: 30%
         ); // 滑轨背景色
      }
      .chat-item {
         display: flex;
         align-items: center; // 垂直居中
         justify-content: space-between; // 图标与标题分开
         padding: 0.8rem 1rem;
         font-size: 1rem;
         margin-bottom: 0.5rem;
         background-color: vars.$background-color; // 背景颜色
         border-radius: 8px;
         box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); // 微弱阴影
         color: vars.$text-color; // 文字颜色
         cursor: pointer; // 鼠标样式
         transition:
            background-color 0.2s ease,
            transform 0.2s ease;

         &:hover {
            background-color: color.adjust(
               vars.$hover-background-color,
               $lightness: 30%
            ); // 悬停时背景色
            transform: translateY(-2px); // 微微抬起
         }

         .chat-title {
            flex-grow: 1;
            font-size: 1rem;
            color: vars.$text-color;
            margin-left: 0.5rem;
            white-space: nowrap; // 防止文本换行
            overflow: hidden;
            text-overflow: ellipsis; // 超出部分省略
         }
         .chat-icon {
            font-size: 1.5rem;
            margin-right: 1rem;
            color: color.adjust(vars.$text-color, $lightness: 20%);
         }
      }
   }

   /* 内部菜单项 */
   .menu-item {
      width: 100%;
      padding: 1.3rem;
      color: vars.$text-color;
      cursor: pointer; // 设置鼠标样式
      // text-align: center; // 文字居中
      display: flex; // 设置为弹性布局
      align-items: center; // 垂直居中
      font-size: 1.3rem; // 设置文字大小
      border-bottom: 1px solid vars.$divider-color;

      &:hover {
         background-color: vars.$hover-background-color;
         color: vars.$hover-text-color;
         @include m.box-shadow(0, 4px, 10px, rgba(0, 0, 0, 0.2));
      }
      .menu-item-icon {
         font-size: vars.$menu-icon-size;
         margin-right: vars.$menu-icon-margin;
      }
   }

   /* 分割线 */
   .divider {
      width: 100%;
      height: 1px;
      background-color: vars.$divider-color;
      padding-top: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
   }
}

.sidebar.hidden {
   transform: translateX(-100%);
   width: 0; /* 确保宽度为0 */
   overflow: hidden; /* 防止内容溢出 */
   pointer-events: none; /* 禁止点击事件 */
   padding: 0;
}
.sidebar::-webkit-scrollbar {
   width: 8px; /* 滚动条宽度 */
}

.sidebar::-webkit-scrollbar-thumb {
   // 滚动条样式
   background: rgba(198, 195, 195, 0.3); /* 滚动条颜色 */
}

.sidebar::-webkit-scrollbar-track {
   // 滑轨样式
   background: transparent; /* 滑轨背景色 */
}

.ourHeader {
   display: flex; // 设置为弹性布局
   align-items: center; // 垂直居中
   justify-content: center; // 水平居中
   background-color: vars.$primary-color; // 设置背景色
   position: sticky; // 设置为粘性定位
   top: 0; // 距离顶部0px
   z-index: 1000; // 设置层级
   border-bottom: #dcdcdc 1px solid; // 设置底部边框
   border-right: #dcdcdc 1px solid; // 设置右侧边框

   .header-title {
      //在heeder中居中显示
      font-size: 1.5rem;
      font-weight: lighter;
      color: vars.$text-color;
      margin: 0;
      position: absolute; //居中显示
   }
   .logo {
      height: 40px;
      margin-right: 10px;
      margin-left: 45%;
   }

   .company-name {
      font-size: 24px;
      color: vars.$text-color; // 根据需求设置字体颜色
      font-weight: bold;
   }
   .user-info {
      display: flex;
      align-items: center;
      margin-left: auto; /* 将用户信息右对齐 */
      cursor: pointer;
      color: vars.$text-color;
   }
}
